---
title: Baby Names in the United States
---

<h1 id='current-name'></h1>

<input id='name-timeline' type='range' min='1' max='1000'/>

<div class='navigation'>
  <input id='year' type='number' min='1880' max='2014'/>
  <input id='rank' type='number' min='1' max='1000'/>

  <select id='gender'>
    <option value='boy_names' selected='selected'>Boy Names</option>
    <option value='girl_names'>Girl Names</option>
  </select>

  <select id='all-names' class='chosen-select' data-placeholder='Jump to name...'>
  </select>
</div>
