---
title: Baby Names in the United States
---

<h1 id='current-name'></h1>

<div class='navigation'>
  <div class='stepper-widget' data-target='year'>
    <h2></h2><button class='decrement'>&lt;</button><button class='increment'>&gt;</button>
  </div>

  <div class='stepper-widget' data-target='rank'>
    <h2></h2><button class='decrement'>v</button><button class='increment'>^</button>
  </div>

  <select id='gender'>
    <option value='boy_names' selected='selected'>Boy Names</option>
    <option value='girl_names'>Girl Names</option>
  </select>

  <select id='all-names'>
    <option>Jump to name...</option>
  </select>
</div>

<script>
  window.dataByName = <%= data_by_name %>;
  window.dataByYear = <%= data_by_year %>;
</script>
